

<div>
	<h1 class="display-4">Lista de Propietarios</h1>
	<h4><a asp-action="Crear">Crear</a></h4>

	<table id="example" class="display" style="width:100%">
        <thead>
            <tr>
				<th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>DNI</th>
                <th>Telefono</th>
                <th>Email</th>
				<th></th>
            </tr>
		</thead>
 
</div>

